h1{
  font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-weight: 1000;
}
img{
  width: 100%;
  height: auto;
}
