/* Add this CSS to your stylesheet */
.custom-nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    gap:20px;
    right: 150px;
    font-weight: 500;
  }
  .ml{
    position: absolute;
    right: 18px;
    font-weight: 500;
  }
  
  .title-al{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
   
  }
  .icon-large{
    font-size: 183%;
    color: white;

  }
  .icons{
   margin-left: 250px;
  }
  .youtube{
    color:white;
  }
  .spoti{
    color: white;
  }
  /* Add this CSS class for the zoom-in animation */

/* CSS for overlaying the cart on the right */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 480px; /* Adjust the width as needed */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
  z-index: 1000; /* Ensure it's above other elements */
  padding: 5px; /* Add padding for content */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}


.c-title{
  font-family: 'Bricolage Grotesque', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 20px;
}

/* NavBar.css */

/* Style the item count */
.cart-item-count {
  background-color: #ff5722; /* Background color */
  color: #fff; /* Text color */
  border-radius: 50%; /* Make it circular */
  padding: 4px 7px; /* Adjust padding as needed */
  font-size: 9px; /* Adjust font size as needed */
  position: absolute;
  top: 0;
  right: 0;
}



/* cart */
.btn-remove{
  color:red;
  font-size: 20px;
  margin-bottom: 10px;
}
.cart-img{
  width: 60px;
  height: 60px;
}


.zoom-in {
  transition: transform 0.3s ease; /* Adjust the transition duration as needed */
}

.zoom-in:hover {
  transform: scale(1.1); /* Adjust the scale factor for the zoom effect on hover */
}
